<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand background">Find your Recipe!!!</a>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/search-recipe">Search Recipe</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Contact Us</a></li>
      </ul>

    </div>
  </div>
</nav>
