<div class="parent-container">
  <div class="child-container">
    <h2>Hello, Welcome to <b>Find Your Recipe!!!
    </b></h2>
    <span class="desc">FInd Your Recipe is a Mashup Web Application which is built using <i> Foursquare & Edamam's Recipe Search API </i> . This application find Recipe and Place to find that Food.</span><br><br><br>
    <form>
      <div class="form-group">
        <label>Subscribe to our news letter:</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5">Submit</button>
      </div>
    </form>
  </div>
</div>
