.parent-container {
  position: relative;
  height:100%;
  width: 100%;
}

.child-container {
  color: green;
  text-align: center;
  position: center;
}
.panel-heading {
  background-color:#d35d5d;
  text-align: center;
}
.form-group {
  text-align: center;
  margin-left:200px;
  margin-right: 50px;
}
.desc {
  font-family: Georgia;
  font-size: 17px;
}

.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.thumbnail-description {
  min-height: 40px;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
